/* Link to full Page */
.link {
    width: 20%;
    margin-top: 20%;
    margin-left: 22%;
    color: #275947;
}
/* goalBox */
.title{
    color: #005151;
    font-size: 30px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    margin-top: 2%;
    /* margin-bottom: 1%; */
}

.box{
    width: 75%;
    height: 72%;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(255, 255, 255); */
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 48%;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
 .box h{
    color:#080f0f;
    padding-top: 475px;
    font-size: 20px;
    padding-left:15px;
    text-decoration: underline;

 }
.innerBox{
    margin-top: 5%;
    width: 100%;
    height: 85%;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    background-color: #005151;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 8%;
    border-radius: 30px;
}
.innerBox left{
    color:white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding-left: 35px;
    padding-top: 5px;
    float: left;
    
}
.innerBox right{
    color:white;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
    padding-top: 5px;
    padding-right: 60px;
    float: right;
}
.goalBox {
    width: 100%;
    height: 19%;
    background-color: #ffffff;
    display: inline-block;
    padding-top: 30px
}
.goalBox stat{
    float: right;
    padding-right:33px;
    color: black;
    font-size: 23px;
}
.goalBox cd{
    float: right;
    padding-right:50px;
    color: black;
    font-size: 23px;
}
.goalBox ed{
    float: right;
    padding-right:55px;
    color: black;
    font-size: 23px;
}
.goalBox l{
    float: left;
    color: black;
    font-size: 23px;
    padding-left: 20px;
}

.button{
    width: 10%;
    height: 40px;
    float: right;
    padding: 5px ;
    color: #275947;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: #FFC600;
}

  .input{
    float: right;
    margin-right: 11px;
    padding-left:20px;
    height: 40px;
    width: 20%;
    align-self: center;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 30px;
}

.IL{
    display:inline;
}

/* employee title */
.emp_box{
    width: 20%;
    margin-left: 2%;
    padding-top: 1%;
}

.emp_name{
    font-size: 25px;
}

.job_title{
    margin-top: 0%;
    font-size: 20px;
}

/* Manager */
#manager_title{
    margin-left: 2%;
    margin-top: 0%;
}
.manager_box{
    margin-left: 2%;
    width: 50%;
    background-color: #CEDFE2;
    padding: 5px;
    border-radius: 25px;
}
/* Reports */