/* Title */
.title{
    color: #005151;
    font-size: 30px;
    text-align: left;
    font-family: 'Nunito', sans-serif;
    margin-top: 2%;
    flex: auto;
    margin-left: 4%;
    font-weight:bold;
    margin-bottom: 1%;
}

/* Top Grid */
.grid{
    margin-left: 4%;
    width:92%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
.goal_grid{
    background-color: #CEDFE2;
    border-radius: 10px;
    margin-bottom: 3%;
    margin-right: 1%;
    padding: 5px;
}
.grid_labels{
    color: #005151;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 4%;
}

.box{
    margin-left: 4%;
    width: 92%;
    background-color: #CEDFE2;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 1%;
}

.box_labels{
    color: #005151;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}
.box_text{
    color: black;
}

/* button */
.button{
    width: 12%;
    height: 40px;
    float: right;
    font-weight: bold;
    padding: 5px ;
    color: #275947;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    background: #FFC600;
    margin-right: 5%;
}