.header{
  color: #fafafa;
  font-size: 4rem;
  font-family: 'NTR', sans-serif;
  margin-top: 2%;
  margin-left: 5%;
  padding-top: 5%;
}

.body{
  color: #fafafa;
  font-size: x-large;
  margin-top: 2%;
  margin-left: 5%;
  width: 40%;
}

.button{
  margin-top: 2%;
  margin-left: 5%;
  width: 10%;
  align-self: center;
  padding: 5px ;
  color: #275947;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background: #FFC600;
}
