.heading {
    color:  #005151;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:10%

}

.heading2 {
    color:  #000000;
    text-align: left;
    font-family:'Franklin Gothic Small', 'Arial Narrow', Arial, sans-serif;
    font-size: 30%;
    padding-left:10%;
    padding-top: 10%;
    
}
